---
import Section from "./Section.astro";

---

<Section
    title="Accessories"
>

    <div class="flex gap-x-6 mx-auto" slot="footer" >

        <a href="#"
        class=" border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white   px-2 lg:px-12 py-2 hover:bg-black hover:text-white hover:border-black  transition-colors ">
            Order Now
        </a>
    </div>

    <div class="absolute top-0 bottom-0 z-10 h-full w-full" slot="background">
        <img src="/accessories.avif" alt="accessories" class="h-full w-full object-cover object-center">
    </div>

</Section>