<footer class="w-screen">

    <nav >
        <ul class="flex justify-center gap-x-5 p-4 [&>li>a]:text-sm">
            <li><a href="#">Tesla © 2023</a></li>
            <li><a href="#">Privacy & Legal</a></li>
            <li><a href="#">Vehicle Recalls</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Get Updates</a></li>
            <li><a href="#">Locations</a></li>
        </ul>
    </nav>

</footer>









