---
import Section from "./Section.astro";

---

<Section
        title="Experience Tesla"
        subtitle="Schedule a Demo Drive Today"
        color="white"
        fontSize="xs"
    >
        <div slot="footer">
            <a href="#" class="border-[3px] border-white bg-white/5 backdrop-blur-sm  text-sm rounded font-medium text-white px-12 py-2 hover:bg-white hover:text-black transition-colors ">
                Demo Drive
            </a>
        </div>

        <div slot="background" class="  absolute top-0 bottom-0 z-10 h-full w-full">
            <video src="/video.webm" class="object-cover object-[50% 35%] h-screen w-screen  xl:object-cover " autoplay muted loop></video>
        </div>
</Section>