---
import Section from "./Section.astro";

---

<Section
    title="Model S"
    subtitle="Explore Inventory"
    color="black"
    fontSize="base"
    underline={true}
    cursor="pointer"
>

    <div class="flex gap-x-6 mx-auto" slot="footer" >

        <a href="#"
        class=" border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white   px-2 lg:px-12 py-2 hover:bg-black hover:text-white hover:border-black  transition-colors ">
            Explore Inventory
        </a>

        <a href="#" class="border-[3px] border-white bg-white text-black text-sm rounded font-medium  px-2 lg:px-12 py-2 flex justify-center items-center hover:border-black hover:bg-black hover:text-white transition-colors ">
            Custom Order
        </a>
    </div>

    <div class="absolute top-0 bottom-0 z-10 h-full w-full" slot="background">
        <img src="/modelS.avif" alt="Model S" class="h-full w-full object-cover object-center">
    </div>

</Section>